<div class="row">
  <div class="col-12 text-center mt-5">
    <h1>Customers</h1>
    <button class="btn btn-primary btn-block btn-lg mt-5" [routerLink]="['customer', 0]">Create a new customer</button>
    <table class="table table-striped my-5">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Rating</th>
          <th>Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of list$ | async">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.rating }}</td>
          <td>{{ customer.address }}</td>
          <td>
            <button class="btn btn-danger" (click)="onClickDelete(customer.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>